<div>
  <h2>
    map-screen
  </h2>
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    [mapTypeControl]="false"
    [mapTypeId]="type"
    [disableDoubleClickZoom]="true"
    [scrollwheel]="false"
    [streetViewControl]="false"
    [mapDraggable]="false"
    [maxZoom]="maZoom"
    [minZoom]="miZoom"
    >

    <agm-marker *ngFor="let m of markers; let i = index"
    (markerClick)="specificClick(m.label)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    >

<!-- <agm-info-window>
  <strong>Info Window Content</strong>
</agm-info-window> -->

<!-- (markerClick)="clickedMarker(m.label, i)" -->

    </agm-marker>

    <agm-circle [latitude]="lat + 0.3"
    [longitude]="lng"
    [radius]="5000"
    [fillColor]="'red'"
    [circleDraggable]="true"
    [editable]="true">
    </agm-circle>

  </agm-map>
  </div>







